html{
    color:#000000;
        font-family:"times new roman", "sans-serif";
        font-size: 20px
}
img{
    padding:  0px 15px 0px 15px;
}

.main-nav {
    text-transform: capitalize;
    text-decoration-color: #0000FF;
    font-size: 100%;
}


        
}